{% extends "templates/base_layout.twig" %}

{% block title %}
  {{ parent() }} New List
{% endblock %}

{% block custom_assets %}
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script>
    $( function() {
      $("#datepicker").datepicker();
    } );
  </script>
{% endblock %}


{% block content %}


  <p>blabla de création </p>
  {# <form name="newlist"  method="post" action="{{ path_for('postlist') }}"> #}
    <div class="containerForm">
      <div class="containerInput">
        <label for="name">Nom de la liste </label>
        <span class="required">*</span>
        <small>(25 charactère max)</small><br>
        <input class= "form newlist" type="textarea" name="name"  id="name" value="" maxlength="25"><br>
      </div>

      <div class="containerInput">
        <label for="description">Description de la liste de cadeau</label>
        <span class="required">*</span>
        <small>(500 caractères max)</small><br>
        <textarea class="form newlist hight-10" type="text" name="description"  id="description" value="" maxlength="500"></textarea> <br>
      </div>

      <div class="containerInput">
        <label for="">Date de validité</label>
        <span class="requirequired">*</span><br>
        <input class= "form newlist" type="text" id="datepicker" id="datepicker"><br>
      </div>


      <div class="containerInput">
        <label for="check_dest">Êtes-vous le destinataire de cette liste</label>
        <input type="checkbox" name="check_dest" id="check_dest" onclick="check()" ><br>
      </div>

      <div class="containerInput">
        <label for="nom_dest">nom du destinataire</label><br>
        <input class= "form newlist" type="text" name="nom_dest" id="nom_dest" value="nom"><br>
      </div>
      <p type="button" class="button" name="validate" id="validate" value="Créer la liste">Créer la liste</p>
    </div>
  </form>

{% endblock %}
