{% extends "templates/base_layout.twig" %}

{% block title %}
  {{ parent() }} New List
{% endblock %}

{% block custom_assets %}
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script>
    $( function() {
      $("#datepicker").datepicker();
    } );
  </script>
{% endblock %}


{% block content %}


  <p>texte de création </p>
  <form class="" action="index.html" method="post">

    <label for="name">Nom de la liste </label>
    <span class="required">*</span>
    <small>(25 charactère max)</small>
    <input type="textarea" name="name"  id="name" value="" maxlength="25"><br>


    <label for="description">Description de la liste de cadeau</label>
    <span class="required">*</span>
    <small>(500 charactère max)</small><br>
    <textarea type="text" class="large-12 hight-10" name="description"  id="description" value="" maxlength="500"></textarea> <br>

    <label for="">Date de validité</label>
    <span class="requirequired">*</span>
    <input type="text" id="datepicker" id="datepicker"><br>

    <label for="check_dest">Êtes-vous le destinataire de cette liste</label>
    <input type="checkbox" name="check_dest" id="check_dest" onclick="check()" ><br>

    <label for="nom_dest">nom du destinataire</label>
    <input type="text" name="nom_dest" id="nom_dest" value="nom"><br>

    <p type="button" class="button" name="validate" id="validate" value="Créer la liste">Créer la liste</p>
  https://secure.php.net/manual/fr/tutorial.forms.php
  </form>

{% endblock %}
