{% extends "templates/base_layout.twig" %}

{% block title %}
  {{ parent() }} New List
{% endblock %}

{% block custom_assets %}
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script>
    $( function() {
      $("#datepicker").datepicker({dateFormat: 'yy-mm-dd'});
    } );
    function validateForm() {
      let ret = true;
      $(".nonempty").each(function() {
        if ($(this).val() === "") {
          $(this).addClass("form-error");
          ret = false;
        }
        else {
          $(this).removeClass("form-error");
        }
      });
      if (! $("#check_dest").is("checked") && $("#nom_dest").val() === "") {
        $("#nom_dest").addClass("form-error");
        ret = false;
      }
      else {
        $("#nom_dest").removeClass("form-error");
      }
      return ret;
    }
  </script>
{% endblock %}


{% block content %}

  {% if flash.getMessage('Error')[0] %}
      <div class="alertDanger">
          <b>{{ flash.getMessage('Error')[0] }}</b>
      </div>
  {% endif %}

  <form name="newlist" onsubmit="return validateForm()" method="post" action="{{ path_for('postList') }}">
    <div class="containerForm">
      <div class="containerInput">
        <label for="name">Nom de la liste </label>
        <span class="required">*</span>
        <small>(25 caractères max)</small><br>
        <input class= "form newlist nonempty" type="textarea" name="name"  id="name" value="" maxlength="25"><br>
      </div>

      <div class="containerInput">
        <label for="description">Description de la liste de cadeau</label>
        <span class="required">*</span>
        <small>(500 caractères max)</small><br>
        <textarea class="form newlist hight-10 nonempty" type="text" name="description"  id="description" value="" maxlength="250"></textarea> <br>
      </div>

      <div class="containerInput">
        <label for="">Date de validité</label>
        <span class="required">*</span><br>
        <input class="form newlist nonempty" name="date" type="text" id="datepicker" id="datepicker"><br>
      </div>


      <div class="containerInput">
        <label for="check_dest">Êtes-vous le destinataire de cette liste</label>
        <input type="checkbox" name="check_dest" id="check_dest" onclick="check()" ><br>
      </div>

      <div class="containerInput">
        <label for="nom_dest">nom du destinataire</label><br>
        <small>(25 caractères max)</small><br>
        <input class= "form newlist" type="text" name="nom_dest" id="nom_dest" value="nom" maxlength="25"><br>
      </div>

      <input type="submit" class="button" name="validate" id="validate" value="Créer la liste">
    </div>
  </form>

{% endblock %}
