<head>

  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    $( function() {
      $( "#datepicker" ).datepicker();
    } );
  </script>
</head>


<p></p>
<form class="" action="index.html" method="post">

  <label for="name">Nom de la liste </label>
  <span class="red">*</span>
  <small>(25 charactère max)</small>
  <input type="textarea" name="name"  id="name" value="" maxlength="25">


  <label for="description">Description de la liste de cadeau</label>
  <span class="red">*</span>
  <small>(500 charactère max)</small>
  <input type="textarea" name="description"  id="description" value="" maxlength="500">

  <label for="">Date de validité</label>
  <span class="red">*</span>
  <input type="text" id="datepicker">

  <label for="check_dest">Êtes-vous le destinataire de cette liste</label>
  <input type="checkbox" name="check_dest" id="check_dest" onclick="check()" >

  <label for="nom_dest">nom du destinataire</label>
  <input type="text" name="nom_dest" id="nom_dest" value="nom"  disabled >

  <input type="button" name="validate" id="validate" value="Créer la liste">
https://secure.php.net/manual/fr/tutorial.forms.php
</form>
