{% extends "templates/base_layout.twig" %}

{% block title %}
  {{ parent() }} show list
{% endblock %}




{% block content %}
  <p>test</p>
{% endblock %}

  {% if online %}
    {% for row in  %}
      <div class="">

      </div>
    {% endif %}
  {% endif %}
