{% extends "templates/base_layout.twig" %}


{% block custom_assets %}
  <link rel="stylesheet" type="text/css" href="/Assets/css/item.css">
{% endblock %}

{% block content %}
  <p class="tall aligncentert">
    <strong>Lien de la liste : </strong> <a href="{{path_for('item') }}/{{token}}">www.mecado.net{{path_for('item') }}/{{token}}</a>
  </p>

  <h3> Ajouter un nouvel item </h3>
    <input class="form" name="item.name" type="text" placeholder="Nom de l'item">
    <input class="form" name="item.description" type="text" placeholder="Description item">
    <input class="form" name="item.price" type="text" placeholder="Tarif minimum">
    <input class="form" name="item.url" type="text" placeholder="URL d'exemple"></br>
    <label for="item.image">Image d'exemple</label>
    <input  name="item.image" type="file">
    <a href="#" class="success button">Ajouter Item</a><br/>

  {% set nbCommentairesIndex = 0 %}
  {% for item in items %}
    {% include "templates/item.twig" %}
    {% set nbCommentairesIndex = nbCommentairesIndex + 1 %}
  {% endfor %}

</br>
{% endblock %}
