<!doctype html>
<html lang="fr">

	<head>

		<link rel="stylesheet" type="text/css" href="/Assets/css/">
		<link rel="stylesheet" type="text/css" href="/Assets/css/styles.css">

		<meta charset="UTF-8">
		<title>
			{% block title %}
				mecadodotnet -
			{% endblock %}
		</title>

			{% block custom_assets %}

			{% endblock %}
	</head>

	<body>

		<header>
			<div class="header">

				{% if not  %}
					

				{% else %}
   				 	<a class="" href=""></a>
   				 	<div class="">
   				 		
   				 	</div>
				{% endif %}
			</div>	
			
			<div class="">
				<ul>				

					<li><a href=""></a></li>
					
					<li><a href=""></a></li>
					<li><a href=""></a></li>

				
				</ul>
			</div>
		</header>

			{% block content %}

			{% endblock %}

		<footer>
			<div>

				<a class=""></a>  
				<a class="" href=""></a> 
				<a class="" href=""></a> 

				<p></p>
			</div>
		</footer>
	</body>
</html>


