<!doctype html>
<html lang="fr">

	<head>

		<link rel="stylesheet" type="text/css" href="/Assets/css/">
		<link rel="stylesheet" type="text/css" href="/Assets/css/styles.css">
		<link rel="stylesheet" type="text/css" href="/Assets/js/jquery-3.2.1.min.js">
		<link rel="stylesheet" type="text/css" href="/Assets/js/function_base.js">


		<script src="/Assets/js/jquery-3.2.1.min.js"></script>
	  <script src="/Assets/js/function_base.js"></script>

		<meta charset="UTF-8">
		<title>
			{% block title %}
				Mecado.net - Votre solution pour vos cadeaux !
			{% endblock %}
		</title>

			{% block custom_assets %}

			{% endblock %}
	</head>

	<body>

		<header>
			<div class="header">
				<h1>Mecado.net</h1>
				<div class="navbar">

					<ul>
  						<li><a href="/">Home</a></li>
  						<li><a href="/showlists">My lists</a></li>
							<li><a href="/newlist">New List</a></li>
  						<li><a href="#contact">Contact</a></li>
  						<li><a href="/item">Item</a></li>
  						<li style="float:right"><a class="active" href="#login">Login</a></li>
  						<li style="float:right"><a class="active" href="#signin">Sign In</a></li>
					</ul>

				</div>


   				 	<a class="" href=""></a>
   				 	<div class="">

   				 	</div>

			</div>


		</header>

			{% block content %}

			{% endblock %}
		</br>

		<footer>
			Site par BISELX Charles, ESCAMILLA Valentin, MEDJMADJ Issam, PENGUILLY Bertrand

			<div>

				<a class=""></a>
				<a class="" href=""></a>
				<a class="" href=""></a>

				<p></p>
			</div>
		</footer>
	</body>
</html>
