

<div class="item">
  <span class="nomItem">
    {{ item.nom }}
  </span>
  <span class="descItem">
    {{ item.description }}
  </span>
  <span class="tarifItem">
    {{ item.tarif }}
  </span>
</div>
